# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio user state and caches
.vs/
*.suo
*.user
*.aps

# Visual C++ build output directories
[Dd]ebug/
[Rr]elease/
x64/
dist/

# Visual C++ intermediate and diagnostic files
*.pdb
*.idb
*.ilk
*.tlog
*.recipe
*.lastbuildstate
*.FileListAbsolute.txt
*.Build.CppClean.log
*.log
*.res
